
<% name ||= "Crear" %>

<h1> <%= name%> Articulo </h1>
<%= form_for(@article) do |f|%>
			<% @article.errors.full_messages.each do |message| %>
				<div class="be-red white top-sapce">
					*<%= message %>
				</div>
				<%end%>
		<div class="field">
			<%= f.text_field :title, placeholder: "Titulo", class:"form_control" %>
		</div>
		<div class="field">
			<%= f.text_area :body, placeholder: "Text area", style:"height:250px;", class:"form_control" %>
		</div>
		<div class="field">
			<%= f.submit  "puchale", class:"btn be-red white" %>
		</div>
		<div class="field"></div>
	<% end %>
