<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
   <%= csrf_meta_tags %>
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <header>
		  <nav class="be-red white large_padding">
			  <ul class="no-list row center-xs middle-xs">
			  	<li class="col-md"> 
			  		<h1 class="no-margin" id="logo ">logo</h1> 
			  	</li>
			  	<li class="col-md"> 
			  		<%= link_to "Inicio", root_path %>
			  	</li>		  			  		
			  	<li class="col-md"> Texto1 </li>
			  	<li class="col-md"> Texto4 </li>
			  	<li class="col-md"> Text45 </li>
			  </ul>	  	
		  </nav>
		</header>

    <%= yield %>

  </body>
</html>
